<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <div class="widget">
          <h2 class="widget-title">Recent Posts</h2>
          <div class="blog-list-widget">
            <div class="list-group">
              <a routerLink="single/" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="w-100 justify-content-between">
                  <img src="assets/static/blog_square_01.jpg" alt="" class="img-fluid float-left">
                  <h5 class="mb-1">5 Beautiful buildings you need to before dying</h5>
                  <small>12 Jan, 2016</small>
                </div>
              </a>

              <a routerLink="single/" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="w-100 justify-content-between">
                  <img src="assets/static/blog_square_02.jpg" alt="" class="img-fluid float-left">
                  <h5 class="mb-1">Let's make an introduction for creative life</h5>
                  <small>11 Jan, 2016</small>
                </div>
              </a>

              <a routerLink="single/" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="w-100 last-item justify-content-between">
                  <img src="assets/static/blog_square_03.jpg" alt="" class="img-fluid float-left">
                  <h5 class="mb-1">Did you see the most beautiful sea in the world?</h5>
                  <small>07 Jan, 2016</small>
                </div>
              </a>
            </div>
          </div><!-- end blog-list -->
        </div><!-- end widget -->
      </div><!-- end col -->

      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <div class="widget">
          <h2 class="widget-title">Popular Posts</h2>
          <div class="blog-list-widget">
            <div class="list-group">
              <a routerLink="single/" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="w-100 justify-content-between">
                  <img src="assets/static/blog_square_04.jpg" alt="" class="img-fluid float-left">
                  <h5 class="mb-1">Banana-chip chocolate cake recipe with customs</h5>
                  <span class="rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </span>
                </div>
              </a>

              <a routerLink="single/" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="w-100 justify-content-between">
                  <img src="assets/static/blog_square_07.jpg" alt="" class="img-fluid float-left">
                  <h5 class="mb-1">10 practical ways to choose organic vegetables</h5>
                  <span class="rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </span>
                </div>
              </a>

              <a routerLink="single/" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="w-100 last-item justify-content-between">
                  <img src="assets/static/blog_square_06.jpg" alt="" class="img-fluid float-left">
                  <h5 class="mb-1">We are making homemade ravioli, nice and good</h5>
                  <span class="rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </span>
                </div>
              </a>
            </div>
          </div><!-- end blog-list -->
        </div><!-- end widget -->
      </div><!-- end col -->

      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <div class="widget">
          <h2 class="widget-title">Popular Categories</h2>
          <div class="link-widget">
            <ul>
              <li><a routerLink="#">Cricket <span>(21)</span></a></li>
              <li><a routerLink="#">Football <span>(15)</span></a></li>
              <li><a routerLink="#">Basketball <span>(31)</span></a></li>
              <li><a routerLink="#">Volleyball <span>(22)</span></a></li>
              <li><a routerLink="#">Running <span>(66)</span></a></li>
              <li><a routerLink="#">Indoor games <span>(11)</span></a></li>
              <li><a routerLink="#">Bodybuilding <span>(87)</span></a></li>
            </ul>
          </div><!-- end link-widget -->
        </div><!-- end widget -->
      </div><!-- end col -->
    </div><!-- end row -->

    <hr class="invis1">

    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="widget">
          <div class="footer-text text-center logo">
            <a routerLink="/">lets talk sports</a>
            <p> a personal blog</p>

            <hr class="invis">

            <div class="newsletter-widget text-center">

            </div><!-- end newsletter -->
          </div><!-- end footer-text -->
        </div><!-- end widget -->
      </div><!-- end col -->
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <br>
        <div class="copyright">© lets talk sports</div>
      </div>
    </div>
  </div><!-- end container -->
</footer>
